@import '../../../assets/styles/colors.scss';
.link-container {
    display: inline-flex;
    margin: 5px;
    .hover-link {
        margin: 5px;
        color: #ffffff00;
    }
    &:hover {
        .hover-link {
            color: $color_gray;
            transition-duration: 1s;
        }
        .fa-github,
        .fa-envelope {
            color: $color_dark1;
            transition-duration: 1s;
        }
    }
}