<div class="text-3xl flex-center wrap">
    <div class="link-container">
        <span class="hover-link text-base left">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="m-1">github</i>
        </span>
        <i class="fa-brands fa-github"></i>
    </div>
    <div class="link-container">
        <i class="fa-solid fa-envelope"></i>
        <span class="hover-link text-base right">
                <i class="m-1">email-me</i>
                <i class="fa-solid fa-arrow-right"></i>
        </span>
    </div>
</div>