.cover-container {
  background-color: #1C1E22;
  background-image: radial-gradient(circle, rgba(51, 69, 233, 0.465) 10%, rgba(253, 29, 29, 0) 68%);
  background-position: bottom 0 right -60vw;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cover-container .title-header {
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cover-container .title-header h1 {
  font-size: 3.5rem;
  color: #ffe4c4;
  font-weight: 700;
}

.cover-container .title-header h2 {
  font-size: 1.5rem;
  color: bisque;
  font-weight: 400;
}

.cover-container .cover-widget {
  background-color: rgba(18, 19, 20, 0.613);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 6px;
}

.cover-container .cover-widget .widget-card {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
