<div class="cover-root-container flex-center">
    <div class="cover-container max-w-7xl flex flex-col sm:flex-row sm:justify-between sm:items-center fira-sans-light">
        <div class="title-header h-1/2 sm:h-full sm:ml-10">
            <h1>Portfolio</h1>
            <h2>peanutxchange.com</h2>
        </div>
        <div class="cover-widget ml-20 sm:ml-0">
            <img src="../../../assets/icons/Frame2.svg" class="svg-icon" alt="svg-icon" />
            <div class="widget-card p-3 sm:h-60">
                <div class="p-3 max-w-xs sm:max-w-none">
                    <p class="text-xl font-semibold">Silvian Pascaru</p>
                    <p>Frontend developer, I build and design web applications</p>
                </div>
                <p><i class="animate-pulse fa-solid fa-location-dot"></i> Iasi, Romania</p>
            </div>
        </div>
    </div>

</div>