@import '../../../assets/styles/colors.scss';
.contact-form-container {
    width: 100%;
    height: 100%;
    color: $color-bisque2;
    background-image: radial-gradient(circle, rgba(51, 69, 233, 0.465) 10%, rgba(253, 29, 29, 0) 68%);
    background-position: bottom 0 left -60vw;
    background-repeat: no-repeat;
    background-color: $color-dark2;
    .form-elements {
        form {
            label {
                input,
                textarea {
                    background-color: transparent;
                    border: none;
                    font-style: italic;
                    border-bottom: 1px solid $color-gray;
                    transition: border 1s;
                    transition: box-shadow 1s;
                    &:hover,
                    &:focus {
                        border-bottom: 1px solid bisque;
                        box-shadow: 0px 1px 0px 0px bisque;
                        color: bisque;
                        ~.input-icon {
                            color: red;
                        }
                    }
                }
                .input-icon {
                    color: $color-bisque2;
                    padding: 5px;
                    transition: color 1s;
                }
            }
        }
    }
    .submit-btn {
        border-radius: 2rem;
        padding: 15px 30px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px $color-dark1;
        background-image: linear-gradient(45deg, $color-alpha-blue 0%, $color-dark2 51%, $color-dark2 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        &:hover {
            background-position: right center;
            color: rgba(248, 72, 69, 0.796);
            text-decoration: none;
        }
        &:active {
            transform: scale(0.95);
        }
    }
}