@import '../../../assets/styles/variables.scss';
.contact-form-container {
    width: 100%;
    height: 100%;
    color: $color-bisque2;
    background-size: 200% auto;
    background-image: radial-gradient(circle, rgba(51, 69, 233, 0.465) 10%, rgba(253, 29, 29, 0) 48%);
    background-position: bottom left -140vw;
    @media screen and (min-width: $sm-screen) {
        background-position: bottom left -120vw;
    }
    background-repeat: no-repeat;
    background-color: $color-dark2;
    .form-elements {
        form {
            label {
                input,
                textarea {
                    background-color: transparent;
                    border: none;
                    font-style: italic;
                    border-bottom: 1px solid $color-gray;
                    transition: border 1s;
                    transition: box-shadow 1s;
                    &:hover,
                    &:focus,
                    &:-webkit-autofill {
                        border-bottom: 1px solid bisque;
                        box-shadow: 0 6px 6px -8px bisque;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: $color-bisque2;
                        ~.input-icon {
                            color: red;
                        }
                    }
                }
                .input-icon {
                    color: $color-bisque2;
                    padding: 5px;
                    transition: color .5s;
                }
            }
        }
    }
}