@import '../../../assets/styles/colors.scss';
.content-card-container {
    .text-section {
        position: relative;
        opacity: 0;
        transition: opacity 1s;
        color: $color_dark1;
        padding: 20px;
        &.show {
            opacity: 1;
            .tag-icon {
                position: absolute;
                &.open {
                    top: -30px;
                    left: 0;
                    animation: slide-in-left 5s;
                }
                &.close {
                    bottom: -30px;
                    right: 0;
                    animation: slide-in-right 5s;
                }
            }
        }
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}