<div class="content-card-container">
    <div class="text-section text-xl sm:text-3xl fira-sans-regular-italic">
        <span class="open tag-icon">
                <i class="fa-solid fa-chevron-left"></i> about
                <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p>
            Hi this is my museum .. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias mollitia commodi, pariatur saepe eveniet laborum a voluptatibus fuga reiciendis dolor enim, quisquam sapiente. Culpa recusandae impedit cumque velit harum magni.
        </p>
        <span class="close tag-icon">
                <i class="fa-solid fa-chevron-left"></i>/ about
                <i class="fa-solid fa-chevron-right"></i>
        </span>
    </div>
</div>