<div class="content-card-container max-w-5xl">
    <div class="text-section text-l sm:text-xl fira-sans-regular-italic" appIntersect (visible)="intersectView($event)">
        <span class="open tag-icon">
                <i class="fa-solid fa-chevron-left"></i> about
                <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p>
            Hi, this is my museum .. below you will find some of the projects I worked on and a contact form as well. If what I do appeals to your needs dont hesitate to contact me.
        </p>
        <span class="close tag-icon">
                <i class="fa-solid fa-chevron-left"></i>/ about
                <i class="fa-solid fa-chevron-right"></i>
        </span>
    </div>
</div>