@import '../../../assets/styles/colors.scss';
.page-content {
    height: 2000px;
    .footer {
        width: 100%;
        height: 40vh;
        height: 40dvh;
        color: $color_gray;
    }
    .nav {
        display: flex;
        align-items: center;
        top: 0;
        z-index: 999;
        transition: top 1s;
        position: fixed;
        width: 100%;
        height: 10%;
        &.hide-nav {
            top: -100px;
            transition: top 2s;
        }
    }
    .cover-container {
        width: 100%;
        height: 60vh;
        height: 60dvh;
    }
    .about-card {
        height: 40vh;
        height: 40dvh;
        // background-color: $color_bisque2;
    }
    .contact-form {
        height: 60vh;
        height: 60dvh;
    }
    .main-content {
        height: 1500px;
    }
}