    @import '../../../assets/styles/colors.scss';
    .page-content {
        .footer {
            width: 100%;
            color: $color_gray;
        }
        .nav {
            display: flex;
            align-items: center;
            top: 0;
            z-index: 999;
            transition: top 1s;
            position: fixed;
            width: 100%;
            height: 10%;
            &.hide-nav {
                top: -10vh;
                transition: top 2s;
            }
        }
        .cover-container {
            width: 100%;
        }
        .contact-form {
            width: 100%;
        }
        .main-content {
            height: 1500px;
        }
    }