<div class="page-content h-full">
    <div class="nav justify-end sm:justify-center" [class.hide-nav]="hideNav">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="cover-container h-svh sm:h-[60dvh]">
        <app-cover></app-cover>
    </div>
    <div class="about-card p-16 flex-center h-[60svh] sm:h-[40dvh]">
        <app-content-card></app-content-card>
    </div>
    <div class="skills-accordion h-svh w-screen sm:h-[50vh]">
        <app-accordion></app-accordion>
    </div>
    <div class="main-content flex flex-col">
        <div appIntersect (visible)="intersectView($event)" class="card-container h-[90svh] min-h-80 sm:h-[40vh] ">
            <app-project-card [reverse]="true"></app-project-card>
        </div>
        <div appIntersect (visible)="intersectView($event)" class="card-container h-[90svh] min-h-80 sm:h-[40vh] ">
            <app-project-card [skeleton]="true"></app-project-card>
        </div>
        <div appIntersect (visible)="intersectView($event)" class="card-container h-[90svh] min-h-80 sm:h-[40vh]">
            <app-project-card [reverse]="true" [skeleton]="true"></app-project-card>
        </div>
    </div>
    <div class="contact-form h-svh md:h-[80vh]">
        <app-contact-form></app-contact-form>
    </div>
    <div class="footer flex-center h-[40svh] md:h-[20vh]">
        <app-footer></app-footer>
    </div>

</div>