<div class="page-content">
    <!-- <div class="header flex justify-center">
        <app-cover></app-cover>
        </div>
        <div class="main-content flex justify-center">
        <app-showcase-item></app-showcase-item>
        <app-showcase-item></app-showcase-item>
        <app-showcase-item></app-showcase-item>
        </div>

        <div class="contact-form flex justify-center">
        <app-contact-form></app-contact-form>
        </div> -->
    <div class="footer flex-center">
        <app-footer></app-footer>
    </div>

</div>