@import '../../../assets/styles/variables.scss';
.mobile {
    .toggle-btn {
        color: bisque;
        animation: slide-in 1s;
    }
    nav {
        &.slide-in {
            animation: slide-in 1s;
        }
        &.slide-out {
            opacity: 0;
            visibility: hidden;
            transition: visibility 1s, opacity 1s linear;
            animation: slide-out 1s;
        }
        color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1c1e22f3;
        background-image: radial-gradient(circle, rgba(51, 69, 233, 0.465) 10%, rgba(253, 29, 29, 0) 68%);
        background-position: bottom 10 right -50vw;
        background-repeat: no-repeat;
        transition: all 2s;
        .nav-btn {
            padding: 20px;
            width: 100px;
            height: 70px;
            .svg-icon {
                height: 30px;
            }
            &:hover {
                font-weight: 400;
                background: linear-gradient(to right, #FFD49C, #7A87FB);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.full-size {
    background: linear-gradient(to right, #FFD49C, #7A87FB);
    padding: .1rem;
    border-radius: 30px;
    nav {
        border-radius: 30px;
        background-color: $color_dark2;
        height: 100%;
        color: #ffffff;
        padding: 5px 15px 5px 5px;
        .nav-btn {
            margin-right: 15px;
            padding: 5px;
            width: 70px;
            height: 35px;
            .svg-icon {
                height: 25px;
            }
            &:hover {
                font-weight: 400;
                background: linear-gradient(to right, #FFD49C, #7A87FB);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}