@import '../../../assets/styles/colors.scss';
.card-container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    .card-inner {
        position: relative;
        height: 100%;
        width: 100%;
        color: $color-dark3;
        .card-content {
            height: 100%;
            width: 100%;
            .card-header {
                .accent {
                    color: $color-alpha-blue;
                }
                hr {
                    height: 2px;
                    width: 70%;
                    color: $color-dark2;
                    margin: .5rem;
                }
                .tech {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    color: $color-gray;
                    .tech-item {
                        display: flex;
                        flex-direction: row;
                        .skill-icon {
                            padding-left: 2px;
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
            .project-img {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            .backdrop-btn {
                opacity: 1;
                text-align: center;
                align-self: center;
                background-color: $color-backdrop;
                color: white;
                background-image: radial-gradient(circle, rgba(51, 69, 233, 0.465) 10%, rgba(253, 29, 29, 0) 68%);
                width: 4rem;
                height: 4rem;
                box-shadow: 0 0 4px 4px bisque inset;
                border-radius: 50%;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                animation: pulse 2s infinite, rotate 1s;
                transform: rotateX(60deg);
                i {
                    transform: rotateX(0deg);
                    opacity: 0;
                    animation: 3s slide-in 1s, 2.5s ping 1s infinite;
                }
                &.hide-backdrop-btn {
                    opacity: 0;
                    animation: none;
                }
            }
        }
        .card-backdrop {
            position: absolute;
            display: flex;
            border-radius: .5rem;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #ffffff;
            background-color: $color-backdrop;
            background-image: radial-gradient(circle, rgba(51, 69, 233, 0.465) 10%, rgba(253, 29, 29, 0) 68%);
            background-position: bottom 10 right -50vw;
            background-repeat: no-repeat;
            transition: all 1s;
            animation: slide-in .5s;
            &.hide {
                animation: slide-off .5s;
                display: none;
            }
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-off {
    0% {
        display: flex;
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        display: none;
        opacity: 0;
        transform: translateY(50%);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(60deg);
    }
}

@keyframes ping {
    0% {
        opacity: .3;
        transform: translateY(0rem);
    }
    50% {
        opacity: 1;
        transform: translateY(-1.5rem);
    }
    100% {
        opacity: .3;
        transform: rotateY(0rem);
    }
}