<div class="card-container flex-center">
    <div class="card-inner max-w-5xl">
        <div class="card-content flex flex-col rounded p-4" [ngClass]="[reverse ? 'sm:flex-row-reverse' : 'sm:flex-row']" *ngIf="!skeleton">
            <div class="project-img h-3/5 sm:h-full sm:w-3/6">
                <img src="../../../assets/imgs/proj1.png" alt="proj-1-img">
            </div>
            <div class="card-header h-2/5 sm:h-full sm:w-3/6 fira-sans-regular flex justify-center flex-col">
                <div class="flex flex-row">
                    <span class="text-2xl font-bold">AP`s arts </span>
                    <span class="italic p-2">-landing page-</span>
                </div>
                <hr>
                <p class="italic">art/photography showcase page</p>
                <div class="tech">
                    <span class="tech-item mr-1">Angular<img class="skill-icon" src="../../../assets/icons/angular3.svg"></span>
                    <span class="tech-item mr-1">Material<img class="skill-icon" src="../../../assets/icons/material.svg"></span>
                    <span class="tech-item mr-1">Tailwind<img class="skill-icon" src="../../../assets/icons/tailwind2.svg"></span>
                </div>
                <div #backdropBtn (click)="backdropToggle($event)" class="backdrop-btn p-3"><i class="fa-solid fa-angles-up"></i></div>
            </div>
        </div>
        <div class="card-content flex flex-col rounded" [ngClass]="[reverse ? 'sm:flex-row-reverse' : 'sm:flex-row']" *ngIf="skeleton">
            <div class="project-img h-3/5 sm:h-full sm:w-3/6 p-3">
                <img src="../../../assets/imgs/Type=Square.svg" alt="proj-1-img">
            </div>
            <div class="flex-center column card-header h-2/5 sm:h-full sm:w-3/6 p-2">
                <img class="py-3" src="../../../assets/imgs/Type=Text.svg" alt="proj-1-img">
                <img src="../../../assets/imgs/Type=Paragraph.svg" alt="proj-1-img">
            </div>
        </div>
        <div #backdrop class="card-backdrop hide">
            <div>
                <i class="fa-brands fa-github text-4xl"></i>
            </div>
        </div>
    </div>
</div>