$color-gray: #a6a6a6;
$color-dark1: rgb(74, 74, 74);
$color-dark2: #1C1C1C;
$color-dark3: #1C1E22;
$color-dark4: #01000c;
$color-bisque2: rgba(255, 228, 196, 0.603);
$color-border-crystal: #d0c7ec6a;
$color-secondary-gray: rgba(207, 204, 199, 0.814);
$color-alpha_blue: rgba(51, 69, 233, 0.465);
$color-soft-violet: rgba(168, 148, 225, 0.364)