.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.row {
  flex-direction: row;
}

.flex-center.column {
  flex-direction: column;
}

.flex-center.wrap {
  flex-wrap: wrap;
}
