<div class="accordion-container fira-sans-light text-xs w-full h-full">
    <section class="w-full h-full">
        <div class="inner-container w-full flex-center max-w-7xl h-3/6 ">
            <div class="accordion">
                <div class="accordion-item" id="item1">
                    <a class="accordion-header" href="#item1" (click)="preventScroll('item1')">
                        <div class="sm:flex">
                            <h3>FRONTEND DEVELOPMENT</h3>
                            <ul class="flex flex-wrap sm-sans">

                                <li>#Angular
                                    <img class="accordion-icon" src="../../../assets/icons/angular3.svg">
                                </li>
                                <li>#Material
                                    <img class="accordion-icon" src="../../../assets/icons/material.svg">
                                </li>
                                <li>#Tailwind
                                    <img class="accordion-icon" src="../../../assets/icons/tailwind2.svg">
                                </li>
                                <li>#Bootstrap
                                    <img class="accordion-icon" src="../../../assets/icons/bootstrap2.svg">
                                </li>
                                <li>#Scss
                                    <img class="accordion-icon" src="../../../assets/icons/sass2.svg">
                                </li>
                            </ul>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    <div class="accordion-body">
                        <p> When creating the user-facing aspect of websites I focus on applying the project design in detail for crafting visually appealing layouts, interactive features, and seamless user experiences to engage visitors effectively.</p>
                    </div>
                    <hr>
                </div>
                <div class="accordion-item" id="item2">
                    <a class="accordion-header" href="#item2" (click)="preventScroll('item2')">
                        <div class="sm:flex">
                            <h3>UX/UI DESIGN</h3>
                            <ul class="flex flex-wrap sm-sans">
                                <li>#Figma
                                    <img class="accordion-icon" src="../../../assets/icons/figma.svg">
                                </li>
                                <li>#Adobe
                                    <img class="accordion-icon" src="../../../assets/icons/illustrator.svg">
                                </li>
                                <li>#Photoshop
                                    <img class="accordion-icon" src="../../../assets/icons/photoshop.svg">
                                </li>
                            </ul>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    <div class="accordion-body">
                        <p>Every great project starts with a flawless design that immerses your users even before the first line of text is read.</p>
                    </div>
                    <hr>
                </div>
                <div class="accordion-item" id="item3">
                    <a class="accordion-header" href="#item3" (click)="preventScroll('item3')">
                        <div class="sm:flex">
                            <h3>BACKEND DEVELOPMENT</h3>
                            <ul class="flex flex-wrap sm-sans">
                                <li>#ASP.Net</li>
                                <li>#SpringBoot</li>
                                <li>#PHP</li>
                            </ul>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    <div class="accordion-body">
                        <p>For a smooth communication between UI and Server the behind-the-scenes functionality of a website is as important as the front. If you need server-side scripting or database management we can help you out.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>